h2 Frequently Asked Questions
p
  b What is love?
p Baby don't hurt me. Don't hurt me no more.

p
  b What if I can't find the memo/Gathering/etc.?
p 
  | Lots of things could conspire to disrupt the Gathering, but fear not - in the highly unlikely case that you find yourself lost or unable to find the memo, or, 
  i more importantly, 
  | if you find yourself in an emergency situation (obviously call the police/ambulance/embassy/whatever if it's a real emergency) Justin Knutson will have his phone on to receive any 'distress beacons' via SMS, WhatsApp, KakaoTalk, Hangouts, etc. Please keep in mind that this is for dire situations only. You're traveling to a foreign land to find a hidden memo - be resourceful and self-reliant! And be sure to check this website for updates the day of the Gathering as well just in case!

p
  b I lost my invite card. What do I do?
p That's very unfortunate - without your card you will have a hard time getting past any security. Your best bet is to go as someone else's guest this year, after which you can get your invite reissued. We ask that you make a small donation of some sort towards the next year's Gathering since the cards aren't cheap to produce. For more information please contact Justin Knutson

p
  b Does my post-Gathering reservation cost include events?
p Generally speaking, no - the cost of the reservation is intended to pay for overnight lodging and establish a firm commitment. However, the per-diem coest of the reservation is likely in excess of what we actually end up paying as a group, in which case you will have a choice of being refunded the difference or applying it towards a different day or event. Events and their associated costs will be announced after the May 8 deadline for regular RSVPs, and you will be contacted directly assuming you have placed a reservation.

p
  b If I'm staying until June 30, do I select June 29 or June 30?
P 
  | Select June 29 - the reservation refers to the 
  b overnight, 
  | not the corresponding day of activities.

p
  b Can I bring a guest?
p If you are a permanent invite holder (which, if you're reading this, you almost certainly are), then yes. One guest is welcome to join you, but it should be limited to significant others 
  i or 
  | individuals who might be interested in joining the Gathering as permanent members. This year will mark the first time that guests are eligible to earn an invitation by vote of the current permanent invite holders. Details on eligibility and how and when the vote takes place will be released soon. Keep in mind that any guest who is signed up for post-Gathering activities is expected to attend the Gathering along with the host.

