doctype html
html(ng-app='DragonApp')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    base(href='/')
    title Korea 2017
    // script(src='/js/libs.js' type='text/javascript')
    // script(src='/js/templates.js' type='text/javascript')
    script(src='/js/app.js' type='text/javascript')

  body
    // div
      h4 {{1 + 1}}
    splash
