p I am pleased to announce that the Korea 2017 portal is now open. Please visit 
  a(href='https://www.followthegreatdragon.com/login') this link 
  | and use your email and five-digit code to log in for the first time.

p Your five digit code is #{code}.

p After logging in, you will be asked to set a password for future logins.

p Although the web portal is still under construction, you will find (1) the instructions to find the Gathering this year, as well as (2) an RSVP page for post-gathering activities (the so-called Great Adventure). As always there is no RSVP for The Gathering itself, but you must reserve ahead for lodging and any post-gathering activities.

p Let me know if you have any questions. As this is the first year of doing everything through the web portal, I will be reaching out to everyone individally to confirm that things are working as intended. My sincerest apologies for delaying this release until April!

p Best of luck,

p Justin
