p I am pleased to announce that the Korea 2017 portal is now open. Please visit 
  a(href='https://www.followthegreatdragon.com/login') this link 
  | and use your email and five-digit code to log in for the first time.

p For reference, your five digit code is #{code}.

p After logging in, you will be asked to set a password for future logins.
