form(action='login' method='post')
  div
    label Email:
    input(type='email' name='email')

  div
    label Code:
    input(type='password' name='code')

  div
    input(type='submit' value='Log In')
