p This is a friendly reminder that the regular RSVP for post-Gathering activities closes at 12:00 AM on May 8. This does NOT apply to the Gathering itself, which has no RSVP. Any reservations for post-Gathering activities made on or after May 8 will be subject to availability.

p If you have not logged in, please follow 
  a(href='https://www.followthegreatdragon.com/login') this link 
  | and use your email and five-digit code to sign in for the first time.

p Your five digit code is #{code}.

p After logging in, you will be asked to set a password for future logins.

p For those of you who have logged in before, please note that the FAQ is now available as well.

p Thanks,

p Justin
