style(type='text/css').
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
  }
  .indent { text-indent: 40px; }
  .justify { text-align: justify; text-justify: inter-word; }

.container
  .row
    .col-md-8
      //- .col-md-offset-2
      h1.text-center Test Page

      p.justify.indent Seoul (서울) is an old city with a long history to match. On the surface and along its major thoroughfares it looks as much like any modern metropolis, but should you take a moment to venture off the beaten path and explore its backstreets you will find an astonishing maze of winding alleyways and secluded markets leading to nowhere in particular wherefrom every vantage point reveals a microcosm of the city itself. To get ‘lost’ in Seoul is something magical, for you never know what you may find.

      p.text-center Your mission, should you choose to accept it, is to “get lost” – just a little bit.

      p.justify.indent Looking south from the famous market streets of Myeong-dong (명동), you cannot fail to see Namsan (남산), a large hill in the middle of the city crowned unmistakably atop with the iconic N Seoul Tower. A cable car runs from the base to the top, and if you are disposed to kitschy tourist attractions, you might consider taking it, though the walk up to the top is pleasant enough. You will be hard pressed to find a better view of Seoul than from the observation deck of N Seoul Tower. Peering south from here you can marvel at the sheer expanse of the Han river as it winds gently around the monstrous skyscrapers of Yeoeuido (여의도) in the West all the way around the affluent neighborhoods of Apgujeong (압구정) and the sprawling streets of Gangnam (강남 – yes, that Gangnam) to the East. It is easy to lose one’s gaze on the horizon over the river and in doing so fail to notice and appreciate the almost impossible complexity of the older city streets north of the river. Try to cast your gaze out towards the Banpo bridge (반포대교), almost due south, as it crosses the river near the artificial floating islands known as the Some Sevit (세빛섬). The major thoroughfare that runs north from this bridge is named for the large expanse of Itaewon (이태원), a bustling foreigner district south of Namsan that spans about as far as the Grand Hyatt to the west and south to almost the river itself. On the other side of this thoroughfare is the smaller neighborhood of Yongsan (용산동2가) nestled just at the base of Namsan. Take note of the large Haebang Church (해방교회) near the middle of the Yongsan (it is close to your goal). Then make your way down the hill.

      p.justify Take a moment to lose yourself in Yongsan – littered with street vendors, open air markets, and, unsurprisingly (if you’ve ever been to Korea), a Tous Les Jours, it has a charm all its own. As you make your way slowly towards the church, keep an eye out for the slight downgrade of Sinheung street (신흥로), which forks off from the main road. Traveling down this side street you will have to keep a sharp eye out for the Sinheung Market Entrance (신흥 시장 입구). Hidden unceremoniously across the street from a hair salon, its easy-to-miss and unremarkable exterior hides an extensive ‘underground’ market. Take a deep breath as you pass from sunbaked summer streets into the secluded noir of the Seoul underworld. There is much to see and do here, but look around a bit and you will find, of all things…

      p
        i …a fancy coffee shop.

      p.justify Orang Orang (오랑오랑) is an anachronistic coffee mecca and the envy of hipsters worldwide. Go on, order a drink. Then make your way up the ferociously steep staircase to the eclectic second floor. It will assuredly be crowded, but you are not here to fight for a seat. You are here to read a book. On the sills, tabletops, and tucked into minimalist dual purpose box-shelf/seating, you will find a variety of books, some more interesting than others. Look near the speaker system (if it’s still there) for a book entitled [title here]. Turn to page 100, and you will find what you are looking for. Take note of what you see, and be sure to return the book to where you found it – others are seeking it out as well!

      p.justify Before you leave, take a trip up to the third floor roof to look back from afar and marvel at the N Soul Tower. Lose yourself in the moment. Sip your hipster Korean coffee. You see? To be on top of the world is one thing, but to be lost in it is something special.

      p Good luck!

      p.lead Orang Orang (오랑오랑) coffee shop
      p 1-62 Yongsandong 2(i)-ga, Yongsan-gu, Seoul, South Korea (서울특별시 용산구 용산동2가 1-62)

      p The secret memo will be available between 12:00 noon and 3:00 PM local time.  
