style(type='text/css').
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
  }
  .indent { text-indent: 40px; }
  .justify { text-align: justify; text-justify: inter-word; }

.container
  .row
    .col-md-8
      //- .col-md-offset-2
      h1.text-center Lost in Seoul

      p.justify.indent Seoul (서울) is an old city with a long history to match. On the surface and along its major thoroughfares it looks as much like any modern metropolis, but should you take a moment to venture off the beaten path and explore its backstreets you will find an astonishing maze of winding alleyways and secluded markets leading to nowhere in particular wherefrom every vantage point reveals a microcosm of the city itself. To get ‘lost’ in Seoul is something magical, for you never know what you may find.

      p.text-center Your mission, should you choose to accept it, is to “get lost” – just a little bit.

      p.justify
        | Looking south from the famous market streets of 
        a(href='https://en.wikipedia.org/wiki/Myeong-dong' target='_blank')
          | Myeong-dong (명동), 
        | you cannot fail to see 
        a(href='https://en.wikipedia.org/wiki/Namsan_(Seoul)' target='_blank')
          | Namsan (남산), 
        | a large hill in the middle of the city crowned unmistakably atop with the iconic 
        a(href='https://en.wikipedia.org/wiki/N_Seoul_Tower' target='_blank')
          | N Seoul Tower. 
        | A 
        a(href='https://en.wikipedia.org/wiki/Namsan_cable_car' target='_blank')
          | cable car 
        | runs from the base to the top, and if you are disposed to kitschy tourist attractions, you might consider taking it, though the walk up to the top is pleasant enough. You will be hard pressed to find a 
        a(href='https://upload.wikimedia.org/wikipedia/commons/0/0f/N_Seoul_Tower_Panorama_001.jpg' target='_blank')
          | better view of Seoul 
        | than from the observation deck of N Seoul Tower. Peering south from here you can marvel at the sheer expanse of the Han river as it winds gently around the monstrous skyscrapers of 
        a(href='https://en.wikipedia.org/wiki/Yeouido' target='_blank')
          | Yeoeuido (여의도) 
        | in the West all the way around the affluent neighborhoods of 
        a(href='https://en.wikipedia.org/wiki/Apgujeong-dong' target='_blank')
          | Apgujeong (압구정) 
        | and the sprawling streets of 
        a(href='https://en.wikipedia.org/wiki/Gangnam_District' target='_blank')
          | Gangnam (강남 – yes, that Gangnam) 
        | to the East. It is easy to lose one’s gaze on the horizon over the river and in doing so fail to notice and appreciate the almost impossible complexity of the older city streets north of the river. Try to cast your gaze out towards the 
        a(href='https://en.wikipedia.org/wiki/Banpo_Bridge' target='_blank')
          | Banpo bridge (반포대교), 
        | almost due south, as it crosses the river near the artificial floating islands known as the 
        a(href='https://en.wikipedia.org/wiki/Some_Sevit' target='_blank')
          | Some Sevit (세빛섬). 
        | The major thoroughfare that runs north from this bridge is named for the large expanse of 
        a(href='https://en.wikipedia.org/wiki/Itaewon' target='_blank')
          | Itaewon (이태원), 
        | bustling foreigner district south of Namsan that spans about as far as the Grand Hyatt to the west and south to almost the river itself. On the other side of this thoroughfare is the smaller neighborhood of 
        a(href='https://en.wikipedia.org/wiki/Yongsan-dong,_Seoul' target='_blank')
          | Yongsan (용산동2가) 
        | nestled just at the base of Namsan. Take note of the large 
        a(href='http://image.kmib.co.kr/online_image/2014/0821/201408211653_71110008610402_1.jpg' target='_blank')
          | Haebang Church (해방교회) 
        | near the middle of the Yongsan (it is close to your goal). Then make your way down the hill.

      p.justify 
        | Take a moment to lose yourself in Yongsan – littered with street vendors, open air markets, and, unsurprisingly (if you’ve ever been to Korea), a Tous Les Jours, it has a charm all its own. As you make your way slowly towards the church, keep an eye out for the slight downgrade of Sinheung street (신흥로), which forks off from the main road. Traveling down this side street you will have to keep a sharp eye out for the 
        b Sinheung Market Entrance 
        | (신흥 시장 입구 - hint: you can find it on Google Street View). Hidden unceremoniously across the street from a hair salon, its easy-to-miss and unremarkable exterior hides an extensive ‘underground’ market. Take a deep breath as you pass from sunbaked summer streets into the secluded noir of the Seoul underworld. 
        a(href='http://haebang.net/files/attach/images/310/985/034/a15581c97bd9f1befad895ae79274655.jpg' target='_blank')
          | There is much to see and do here, 
        | but look around a bit and you will find, of all things…

      p
        a(href='http://www.thecoffeechaser.com/orang-orang/' target='_blank')
          | …a fancy coffee shop.

      p.justify 
        b Orang Orang (오랑오랑) 
        | is an anachronistic coffee mecca and the envy of hipsters worldwide. Go on, order a drink. Then make your way up the ferociously steep staircase to the eclectic second floor. It will assuredly be crowded, but you are not here to fight for a seat. You are here to read a book. On the sills, tabletops, and tucked into minimalist dual purpose box-shelf/seating, you will find a variety of books, some more interesting than others. Look near the speaker system (if it’s still there) for a book entitled 
        b [title here]. 
        | Turn to page 
        b 100, 
        | and you will find what you are looking for. Take note of what you see, and be sure to return the book to where you found it – others are seeking it out as well!

      p.justify Before you leave, take a trip up to the third floor roof to look back from afar and marvel at the N Seoul Tower. Lose yourself in the moment. Sip your hipster Korean coffee. You see? To be on top of the world is one thing, but to be lost in it is something special.

      h3 Good luck!
      hr

      h2 Summary
      p 
        em To find the Gathering you will need to travel to...
      p.lead Orang Orang (오랑오랑) coffee shop
      p 1-62 Yongsandong 2(i)-ga, Yongsan-gu, Seoul, South Korea (서울특별시 용산구 용산동2가 1-62)
      hr

      h3 Other Important Notes
      ul 
        li 
          | The secret memo will be available between 
          b 12:00 noon 
          | and 
          b 3:00 PM 
          | local time. 
        li
          | You will need your 
          b black invitation card!
        li
          | There are 
          b no 
          | arrangements this year for lodging or to meet up prior to 6/23.
        li
          | You will have ample time after finding the memo to travel to the real location of the Gathering
        li
          | To give yourself enough time to recover from jet lag and familiarize yourself with Seoul, you should plan on arriving at least one day before the 23rd. If this is not possible, be sure you give yourself enough time to locate the Gathering after you have landed.
        li
          | For those of you hauling luggage, there are large self-serve lockers available in Seoul Station.
          b Bring your stuff to the Gathering; 
          | you will have the opportunity to drop things off before the night continues.
