.container
  .row
    h1 Account information
    .col-md-4
      h2 James Brown
    .col-md-8
      h2 Information
      table.table
        tbody
          tr
            td Email
            td test@test.com
          tr
            td Phone
            td (253) 867-5309
          tr
            td Birthday
            td 06/23/1989
          tr
            td Invite Year
            td 2012
