.container
  .row
    h1 Account information
    .col-md-4
      h2 {{$ctrl.user.fullName}}
    .col-md-8
      h2 Information
      table.table
        tbody
          tr
            td Email
            td {{$ctrl.user.email}}
          tr
            td Phone
            td {{$ctrl.user.phone}}
          tr
            td Birthday
            td {{$ctrl.user.birthday}}
          tr
            td Invite Year
            td {{$ctrl.user.inviteYear}}
