.row
  .col-md-8
    hr
    h2 June 23 - The Gathering, Seoul
    p Find the hidden location of The Gathering and join us in turning up to 11. Where will the night take us? Who knows?
    h2 June 24 - Gangnam Style, Seoul
    p Life south of the river is... different. Time to get schwifty Korean-style.
    h2 June 25 - Recovery Day, Seoul
    p Hangover hangover hangover hangover...
    h2 June 26 - 29 - Run-out Trip, Various Locations
    p A train through the mountains? American BBQ in the heartland of Korea? The world's best spicy chicken and ramen? All this and more on a three-day trip out of the big city.
    h2 June 30 - Return Trip, Seoul
    p Refreshed and well-fed, it is time to rejoin our compatriots in Seoul
    h2 July 1 - Last Hurrah, Seoul
    p Knock knock. Who's there? SOJUUUUUUUUUUUUUUUUU
