.container
  .row
    .col-md-8.col-md-offset-4
      p June 23 - Seoul
      p June 24 - Seoul
      p June 25 - Seoul
      p June 26 - 29 - Run-out Trip
      p June 30 - Seoul
      p July 1 - Seoul
