nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand Korea 2017
    ul.nav.navbar-nav
      li(ui-sref-active='active')
        a(ui-sref='.main')
          | The Gathering

      li(ui-sref-active='active')
        a(ui-sref='.activities')
          | Post-Gathering Activities/Lodging

      li(ui-sref-active='active')
        a(ui-sref='.faq')
          | FAQs

      li(ui-sref-active='active')
        a(ui-sref='.account')
          | Account Information
