.row
  .col-md-12
    h2.text-center Please Set Your Password
    p Before continuing, please provide a new password to secure your account.
    p You will use this password in place of your invite code to log in in the future.
