.container.text-center
  .row#loginForm
    h2 Please Login to Your Account
    form(name='login' novalidate)
      div
        label Email:
        input(type='email' name='email')

      div
        label Code:
        input(type='password' name='code')

      div
        input(type='submit' value='Log In')
