.container.text-center
  .row#loginForm
    h2 Please Login to Your Account
    a(ui-sref='splash') Go to splash page
    form(name='loginForm' novalidate ng-submit='$ctrl.login()')
      div
        label Email:
        input(type='email' name='email' ng-model='$ctrl.credentials.email')

      div
        label Code:
        input(type='password' name='password' ng-model='$ctrl.credentials.password')

      div
        input(type='submit' value='Log In')
