body {
  font-family: Georgia, "Times New Roman", Times, Serif;
  color: #555;
}

.indent {
  text-indent: 40px;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

input.single-char {
  width: 20px;
}
